# Ignore data files
data/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Sandbox notebook
sandbox.ipynb

# Network training checkpoints
.checkpoints/

# Ignore output files
output/

# Ignore latex files
latex/

# Ignore config files
configs/